<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b36e5e3e-373c-4414-a9e3-2080af916e07/resourceGroups/sda-2024-bratislava/providers/Microsoft.Web/sites/NeuroMediaAPI</ResourceId>
    <ResourceGroup>sda-2024-bratislava</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://neuromediaapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>487200be-1dd0-45ea-9fbf-9e0962f2ef47</ProjectGuid>
    <MSDeployServiceURL>neuromediaapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NeuroMediaAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAy1n5fLfo002Q8Or3xunQmwAAAAACAAAAAAAQZgAAAAEAACAAAAANU4PgFykhyQd9JtYNLUqOWhK1JW8a0dXRNwmWqe33QwAAAAAOgAAAAAIAACAAAAC5SFuWnDJb9W9/8K2vaTh08kgVIRCImCrA4Z2PuDoO3iAAAAArT+5V3jDP2dSuK5vdQFduTvNLy01NDffAm02qpXhKU0AAAADlD/HqBeKdbhXsruvFaJk20QJe8xQ6P9iorea5qIGCzkX7tUWx2PebqgzNw9qBZnQ04GSr3vA9fCcHxEm36X8X</EncryptedPassword>
    <History>False|2024-07-15T13:09:19.6635966Z||;False|2024-07-15T15:08:44.8684507+02:00||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>